<h1>Welcome to the Site Scraper!</h1>
<p>Can you tell what other site is powering this one???</p>

<div class="weatherWidget">
  <h5>Click for Weather</h5>
  <a href='http://www.wunderground.com/sports/MLB/team/New_York:Mets.html?bannertypeclick=sports_baseball_cond'><img src='http://weathersticker.wunderground.com/cgi-bin/banner/ban/wxBanner?teamtype=MLB&team=New_York:Mets&bannertype=sports_baseball_cond' border='0' alt='Click for full game report!' /></a>
</div>

<div class="row">
  <div class="medium-offset-3 medium-6 columns">
    <div id="articleDiv" class="main-stories">
      <h2 id="topNews">Headlines</h2>

    </div>
  </div>
  <div class="medium-3 columns game-div">
    <h3 class="game-head">Today's Games</h3>
    <div id="gameScroll">
      {{#if games}}
        {{#each games}}
        <div style="display:none">
          {{#each game_media.media}}
            Key: {{@key}} Value = {{this}}
          {{/each}}
        </div>
          <div class="game-boxes" data-venue='{{venue}}' data-city='{{location}}'>
            <div class="status-tab">
              {{#if inProgress}}
                {{#if topHalf}}
                  <h6>Top {{inning}}</h6>
                  {{else}}
                  <h6>Bottom {{inning}}</h6>
                {{/if}}
              {{else}}
                {{#if showTimeDisplay}}
                  <h6>{{time}} {{tz_aw_lg_gen}}</h6>
                  {{else}}
                  <h6></h6>
                {{/if}}
              {{/if}}

              <h6 class="float-right">{{status}}</h6>
            </div>
            <h5 class="game-title">{{away_name_abbrev}}({{away_win}}-{{away_loss}})
            @ {{home_name_abbrev}}({{home_win}}-{{home_loss}})</h5>
            {{#if away_probable_pitcher.last_name}}
              <h4 class="game-pitchers">{{away_probable_pitcher.last_name}} vs. {{home_probable_pitcher.last_name}}</h4>
              <a href="http://mlb.mlb.com{{preview_link}}">Preview Matchup</a>
              {{else}}
              <h4 class="score-bold">{{away_team_name}} {{away_team_runs}} <br> {{home_team_name}} {{home_team_runs}}</h4>
              {{#if inProgress}}
                <p>Outs: {{outs}}
                  <a title="View Gameday" href="http://mlb.mlb.com/r/game?gid={{gameday_link}}"><i class="fa fa-headphones" aria-hidden="true"></i></a>
              {{/if}}
              </p>
            {{/if}}
          </div>
        {{/each}}
      {{else}}
         <div class="game-boxes">
           <div class="game-head">
              <h4 class="game-head">No MLB Games Scheduled</h4>
            </div>
         </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="small reveal" id="venueModal" data-reveal>
  <div class="trans">
  <h2 title="link to venue website" id="modalTitle"><a target="_blank" id="venLink"></a></h2>
    <p title="venue address" class="lead" id="modAddress"></p>
    <p title="venue city" class="lead" id="modCity"></p>
    <p title="venue phone" class="lead" id="modPhone"><a title="call stadium" id="callVenue"></a></p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
