<h1>DAILY MLBriefing</h1>

<div class="weatherWidget medium-3" id="Standings" title="Standings">
  <h3 id="wuTitle" class="game-head">Current Standings</h3>

</div>

<div class="row">
  <div class="medium-offset-3 medium-6 columns">
    <div id="articleDiv" class="main-stories">
      <h2 id="topNews">Headlines</h2>
      <div id="articleScroll">
        {{#each pageData.dbHeadlines}}
          <p>
            <a href={{headLink}}
             title={{headline}} target="_blank"> {{headline}}
            </a>
          </p>
          <div>
            <form method='POST' action='/newNote/{{_id}}'>
              <label>Title</label>
              <input type="text" name= "title" placeholder="Enter text">
              <label>Description</label>
              <textarea name= "body" placeholder="None"></textarea>
              <button class='primary button' href='#'>
              Add Note</button>
            </form>
          </div>
          {{#each dbHeadlines.notes}}
            <p data-id={{_id}}>
              <span>{{title}}:</span>
              {{body}}
            </p>
          {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="medium-3 columns game-div">
    <h3 title="Today's Games" class="game-head">

      Today's Games

    </h3>
    <div id="gameScroll">
      {{#if pageData.games}}
        {{#each pageData.games}}
        <div style="display:none">
          {{#each game_media.media}}
            Key: {{@key}} Value = {{this}}
          {{/each}}
        </div>
          <div class="game-boxes" data-venue='{{venue}}' data-city='{{location}}' data-id='{{id}}''>
            <div class="status-tab">
              {{#if inProgress}}
                {{#if topHalf}}
                  <h6>Top {{inning}}</h6>
                  {{else}}
                  <h6>Bottom {{inning}}</h6>
                {{/if}}
              {{else}}
                {{#if showTimeDisplay}}
                  <h6>{{time}} {{tz_aw_lg_gen}}</h6>
                  {{else}}
                  <h6></h6>
                {{/if}}
              {{/if}}

              <h6 class="float-right">{{status}}</h6>
            </div>
            <h5 class="game-title">{{away_name_abbrev}}({{away_win}}-{{away_loss}})
            @ {{home_name_abbrev}}({{home_win}}-{{home_loss}})</h5>
            {{#if away_probable_pitcher.last_name}}
              <h4 class="game-pitchers">{{away_probable_pitcher.last_name}} vs. {{home_probable_pitcher.last_name}}</h4>
              <a href="http://mlb.mlb.com{{preview_link}}" target="_blank">Preview Matchup</a>
              {{else}}
              <h4 class="score-bold">{{away_team_name}} {{away_team_runs}} <br> {{home_team_name}} {{home_team_runs}}</h4>
              {{#if inProgress}}
                <p>Outs: {{outs}}
                  <a title="View Gameday" href="http://mlb.mlb.com/r/game?gid={{gameday_link}}" target="_blank"><i class="fa fa-headphones" aria-hidden="true"></i></a></p>
              {{/if}}
              {{#if isFinal}}
                <p>
                  <a title="View Game Wrapup" href="http://mlb.mlb.com{{wrapup_link}}" target="_blank">Wrapup</a></p>
              {{/if}}

            {{/if}}
          </div>
        {{/each}}
      {{else}}
         <div class="no-game-box">
           <div class="game-head">
              <h4 class="game-head">No Games Scheduled</h4>
              <h6><a id="demoTrigger">Click for Demo</a></h6>
            </div>
         </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="small reveal" id="venueModal" data-reveal>
  <div class="trans">
    <div id="gameInfo">

    </div>
    <div id="venueInfo">
      <h4 class="centered bold" title="link to venue website" id="modalTitle"><a target="_blank" id="venLink"></a></h4 class="centered">
      <p title="venue address" class="lead" id="modAddress"></p>
      <p title="venue city" class="lead" id="modCity"></p>
      <h4 title="venue phone" class="centered bold" id="modPhone"><a title="call stadium" id="callVenue"></a></h4>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <footer id="disclaimer"></footer><br>
  </div>
</div>

<div class="large reveal" id="demoModal" data-reveal>
  <div class="trans">
    <div id="gmDemo">
      <div class="flex-video">
        <iframe width="420" height="315" src="/images/demo.mp4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <br>
  </div>
</div>
